* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #f7f7f7;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px;
    width: 100%;
}

.logo{
    color: black;
    font-size: 30px;
}

#nav ul{
    display: flex;
}

#nav ul li{
    margin: 20px;
}

#nav ul li a{
    font-size: 17px;
    color: black;
    transition: 0.5s;
}

#nav ul li a:hover{
    color: gray;
}
#moon{
    font-size: 23px;
    cursor: pointer;
    margin-top: -45px;
}

.main-info{
    display: flex;
    margin-left: 50px;
    margin-top: 70px;
}

.main-icons{
    margin-top: 50px;
}

.main-icons i{
    display: block;
    margin: 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.main-content{
    margin-left: 150px;
}

.main-content h1{
   font-size: 60px;
   letter-spacing: 1px;
}

.main-content h2{
    font-size: 25px;
    margin-top: 16px;
    color: rgb(175, 175, 175);
}

.main-content p{
    font-size: 20px;
    margin-top: 15px;
    letter-spacing: 1px;
}

.main-content button i{
    color: white !important;
    display: inline;
    align-items: center;
    margin-right: 10px;
}

.main-content button {
    margin-top: 16px;
    padding: 15px;
    width: 10vw;
    background-color: black;
    outline: 1px solid white;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}


.border-color{
    background-color: gray;
    width: 30vw;
    height: 55vh;
    margin-left: 100px;
    border-radius: 25% 75% 67% 33% / 25% 27% 73% 75% ;
    margin-top: -40px;
}

.scroll-mouse{
    display: flex;
    align-items: center;
    margin-left: 20.5%;
    cursor: pointer;
    margin-top: 30px;
}

.scroll-mouse img{
    width: 3.5vw;
    gap: 10px;
}

.scroll-mouse i{
    margin-left: 10px;
}

.about-content {
    margin-top: 150px;
}

.about-content .title{
    text-align: center;
}

.about-content .title h3{
    font-size: 40px;
    font-weight: bold;
}

.about-content .title p{
    color: rgb(175, 175, 175);
    letter-spacing: 1px;
}

.content-container{
    display: flex;
    margin-left: 10%;
    margin-top: 70px;
    gap: 80px;
}

.content-container .content-img img{
    width: 30vw;
    height: 55vh;
    margin-top: 30px;
    border-radius: 10px;
}

.content-container .content{
    max-width: 40%; 
  
}

.content-container .content p{
    color: rgb(175, 175, 175);
    font-size: 20px;    
    letter-spacing: 0.5;
  
}

.content-container .experience{
    display: flex;
    gap: 30px;
}

.content-container .experience .experience-item{
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
    
}

.content-container .experience .experience-item p{
    color:black;
    font-size: 30px;
     
 }

.content-container .experience .experience-item h5{
   color: rgb(175, 175, 175);
   font-size: 20px;
   margin-top: 5px;
    
}

.content-container .content button{
    margin-top: 40px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    outline:1px solid black;
    cursor: pointer;
}

.content-container .content i{
    margin-left: 10px;
}

#skills{
    margin-top: 150px;
}

.skills-title{
    text-align: center;
}

.skills-title h3{
    font-size: 40px;
}

.skills-title p{
    color: rgb(175, 175, 175);
    letter-spacing: 1px;
}

.skills-container{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.content-skills h5{
    font-size: 20px;
    border: none;
    outline: none;
    padding: 25px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    background-color: rgb(175, 175, 175);
}

#Front{
    margin-right: 100px;
}

.content-skills i{
    margin-top: 5px;
    margin-left: 10px;
    color: white !important;
}

.content-skills li{
   margin:30px 0px 0px 30px;
   color: black;
   display: none;
}

#contact{
    margin-top: 150px;
}

.contact-title h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}

.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information{
    margin:80px 0px 0px 150px;
}

.info-content{
    margin: 30px;
    display: flex;
}

.info-content h5{
    font-size: 20px;
}



